{{>header}}


<div class="card">
  <div class="card-header">
    Listado de cursos
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Descripción</th>
          <th scope="col">Modalidad</th>
          <th scope="col">Intensidad</th>
          <th scope="col">Estado</th>
          <th scope="col">Cambiar estado</th>
        </tr>
      </thead>
      <tbody>
        {{#each cursos}} 
          <tr>               
            <th scope="row">{{ id }}</th>
            <td>{{ nombre }}</td>
            <td>{{ descripcion }}</td>
            <td>{{ modalidad }}</td>
            <td>{{ intensidad }}</td>
            <td>{{ estado }}</td>
            <td>
              {{{estadoCurso id estado}}}          
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
    
  </div>
</div>




<br><br>

<div class="card">
  <div class="card-header">
    Ver cursos como interesado
  </div>
  <div class="card-body">
    <div class="accordion" id="accordionExample">
      {{#each cursosDisponibles}}
      <div class="card">

        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapse{{id}}" aria-expanded="true" aria-controls="collapse{{id}}">
              {{nombre}}  -  Valor: ${{valor}}
            </button>
          </h2>
        </div>

        <div id="collapse{{id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <ul>
              <li>Nombre: {{nombre}}</li>
              <li>Descripción: {{descripcion}}</li>
              <li>Modalidad: {{modalidad}}</li>
              <li>Valor: ${{valor}}</li>
              <li>Intensidad: {{intensidad}}</li>
            </ul>
          </div>
        </div>
      </div>
      {{/each}}
    </div>    
  </div>
</div>



{{>footer}}